{
	"url": "http://gitlab",
	"token": "secret",
	"ssh": {
		"host": "",
		"port": 22,
		"username": "",
		"privateKey": "-----BEGIN RSA PRIVATE KEY-----\nLINE\nLINE\nETC\n-----END RSA PRIVATE KEY-----"
	}
}