<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>GitLab dashboard</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
</head>
<body>

<div class="page-header">
	<h1>GitLab Dashboard</h1>
	<p class="lead">All repositories</p>
</div>

<div class="panel-group">
	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-1 col-xs-2 text-right">Namespace</div>
				<div class="col-sm-2 col-xs-3">Name</div>
				<div class="col-sm-7 col-xs-7 pull-right">
					<div class="row">
						<div class="col-xs-2">Latest</div>
						<div class="col-xs-2">Live</div>
						<div class="col-xs-2">Dev</div>
						<div class="col-xs-2">Prod</div>
						<div class="col-xs-4">Deps</div>
					</div>
				</div>
				<div class="col-sm-offset-0 col-sm-2 col-xs-offset-2 col-xs-10">Path</div>
			</div>
		</div>
	</div>
</div>
<div id="projects" class="panel-group">Loading...</div>

<script type="text/html" id="project">
	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="row" data-toggle="collapse" data-parent="#projects" data-target="#project-<%- project.id %>">
				<div class="col-sm-1 col-xs-2 text-right" style="white-space: nowrap; overflow: hidden;">
					<%- project.namespace.name %>
				</div>
				<div class="col-sm-2 col-xs-3" style="white-space: nowrap; overflow: hidden;">
					<%- project.name %>
				</div>
				<div class="col-sm-7 col-xs-7 pull-right" style="white-space: nowrap; overflow: hidden;">
					<div class="row">
						<div class="col-xs-2"><b><%- project.latestTag && project.latestTag.name %></b></div>
						<div class="col-xs-2"><%- project.live %></div>
						<div class="col-xs-2"><%- project.dev %></div>
						<div class="col-xs-2"><%- project.production %></div>
						<div class="col-xs-4"><small><%- project.dependencies.join(', ') %></small></div>
					</div>
				</div>
				<div class="col-sm-offset-0 col-sm-2 col-xs-offset-2 col-xs-10" style="white-space: nowrap; overflow: hidden;">
					<b><%- project.path_with_namespace %></b>
				</div>
			</div>
		</div>
		<div id="project-<%- project.id %>" class="panel-collapse collapse">
			<div class="panel-body">

				<dl class="dl-horizontal">
					<dt>ID</dt>
					<dd><%- project.id %></dd>
					<dt>URL</dt>
					<dd><a href="<%- project.web_url %>"><%- project.web_url %></a></dd>
					<dt>GIT</dt>
					<dd><%- project.ssh_url_to_repo %></dd>
				</dl>

				<br/>
				<br/>
				<br/>

				<dl class="dl-horizontal" id="tags-<%- project.id %>"><%= project.tagsHtml %></dl>

			</div>
		</div>

	</div>
</script>


<script type="text/html" id="tag">
	<dt><%- tag.name %></dt>
	<dd><%- (new Date(tag.commit.committed_date)).toLocaleString() %></dd>
	<dd><code><%- tag.commit.message %></code></dd>
</script>


<script type="text/javascript">
	(function (_, $) {
		var $projects = $('#projects'),
				_project = _.template($('#project').text().trim()),
				_tag = _.template($('#tag').text().trim());


		function setDependencies(project) {
			var tagNames = _.pluck(project.tags, 'name'),
					dependencies = {};

			_.each(tagNames, function (tagName) {
				var tagParts = tagName.split('-'),
						tagPrefix = _.first(tagParts),
						number = _.last(tagParts);
				if (project.namespace.path === 'core' && project.path === tagPrefix || tagParts.length !== 2) {
					return null;
				}
				dependencies[tagPrefix] = tagName;
			});
			project.dependencies = _.values(dependencies);
			return project;
		}

		function setLatestTag(project) {
			var isCore = project.namespace.path === 'core',
					tagPrefix = isCore ? project.path + '-' : '';
			project.latestTag = _.last(_.reject(project.tags, function (tag) {
				return isCore ? tag.name.substr(0, tagPrefix.length) !== tagPrefix : !tag.name.match(/^[0-9\.]+$/);
			}));
			return project;
		}


		function tagHtml(project, tag) {
			return _tag({project: project, tag: tag});
		}


		function projectHtml(project) {
			return _project({project: project});
		}


		function setTagsHtml(project) {
			project.tagsHtml = _.map(project.tags, tagHtml.bind(null, project)).join('');
			return project;
		}

		return $.getJSON('/data' + document.location.search, function (projects) {
			var projectsHtml = _.chain(projects)
					.map(setLatestTag)
					.map(setDependencies)
					.map(setTagsHtml)
					.map(projectHtml)
					.value().join('');
			window.__projects = projects;
			return $projects.html(projectsHtml);
		});
	})(_.noConflict(), jQuery.noConflict());
</script>


</body>
</html>